@import url('style.css');

.padre {
    position: relative;
}

.especial {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: red;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.normal {
    background-color: green;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
