@import url('style.css');
.flota {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 200px;
}

.data {
    width: 900px;
    margin: 80px auto;
}

.button {
    display: inline-block;
    margin-bottom: 15px;
    padding: 6px 12px;
    background-color: #006400;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: orange;
    color: blue;
}
