@import url('style.css');
.especial {
    position: static;
    background-color: red;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    margin-bottom: 10px;
}
.normal {
    position: static;
    background-color: green;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    margin-bottom: 10px;
}