@import url('style.css');
  .especial {
      position: relative;
      top: 20px;
      left: 500px;
      display: inline-block;    
  }
  .normal {
      position: static;
      display: inline-block;
  }
