*{
    box-sizing: border-box;
}

h1 {
    background-color: rgb(217, 208, 255);
    border-bottom: 5px solid black;
    padding-top: 0px;
    text-align: center;
}

/* ================== */
/* (2) Imagen derecha */
/* (3) margen derecha */
/* ================== */
img {
    float: top;
    border: 5px solid #000;
    margin-right: 60px;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

p {
    background-color: rgb(217, 208, 255);
}

/* ================== */
/*  CONTENEDORES      */
/* ================== */

#header {
    text-align: center;
    margin-bottom: 10px;
}

#content {
    width: 95%;
    margin: auto;
}

#text {
    width: 100%;
}

/* ========================================================= */
/* PÁRRAFOS → (5) sombra, (9) sangría, (10) ancho 90%, (11) separación */
/* ========================================================= */
#text p {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    text-indent: 40px;
    border: 5px solid #000;
    border-style:dashed;
}

/* ================================ */
/* 4. Primer párrafo → esquinas arriba + fondo repetido */
/* ================================ */
#text p:first-child {
    border-radius: 30px 30px 0 0;
    background-image: url("../images/fondoParrafo.png"); /* Ajusta el nombre si es distinto */
    background-repeat: repeat;
}

/* ================================= */
/* 8. Último párrafo → esquinas abajo */
/* ================================= */
#text p:last-child {
    border-radius: 0 0 30px 30px;
}

/* ================== */
/*      MENÚ          */
/* ================== */

#menu {
    margin-top: 20px;
}

#menu a{
    text-decoration: none;
    color: rgb(77, 38, 139);
}

/* 7. Línea roja de 5px a la izquierda */
#menu li{
    border-left: 5px solid red;
    padding-left: 10px;
    margin: 5px 0;
}

/* 14. Hover subrayado rojo */
#menu li a:hover{
    text-decoration: underline;
    text-decoration-color: red;
}

/* ================== */
/* FOOTER            */
/* ================== */


#footer{
    background-color: rgb(117, 47, 209);
    border-top: 5px solid rgb(62, 65, 255);
    margin-top: 30px;
    padding: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#footer a{
    color: rgb(255, 255, 255);
}

#footer a:hover{

    text-decoration: underline;
}

/* =============================== */
/*     (13) MEDIA QUERY            */
/* =============================== */
@media all and (max-width: 500px) {

    /* 2. borde rojo */
    /* 3. tamaño 90% */
    /* 4. centrada */
    img {
        float: none;
        width: 90%;
        display: block;
        margin: 10px auto;
        border: 3px solid red;
    }
}
