* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f6ff; 
    font-family: Arial, sans-serif;
}

#header h1 {
    background-color: rgb(217, 208, 255);
    border-bottom: 5px solid black;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 10px;
}

#image img {
    float: right;
    margin-right: 60px;
    border: 4px solid black;
    margin-bottom: 10px;
}

#content {
    width: 90%;
    margin: auto;
}

#text {
    clear: both;
}

#text p {
    width: 90%;
    margin: 10px auto;
    padding: 18px;
    background-color: #cecbff;
    border: 3px dashed black;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
    text-indent: 40px;
    font-size: 15px;
}

#text p:first-child {
    border-radius: 30px 30px 0 0;
    background-image: url("../images/fondoParrafo.png");
    background-repeat: repeat;
}

#text p:last-child {
    border-radius: 0 0 30px 30px;
}

#menu {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline-block;
    border-left: 5px solid red;
    margin: 0 5px;
    padding-left: 5px;
}

#menu li:first-child {
    border-left: none;
}

#menu a {
    text-decoration: none;
    color: #513b79;
    font-weight: bold;
}

#menu li a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

#footer {
    margin-top: 10px;
    padding: 2px;
    background-color: #5f478d;
    color: white;
    border-top: 5px solid rgb(51, 94, 187);
    text-align: center;
    font-size: 14px;
}

#footer a {
    color: white;
}

#footer a:hover {
    text-decoration: underline;
}


@media all and (max-width: 500px) {
    #image img {
        float: none;
        width: 90%;
        margin: 10px auto;
        display: block;
        border: 3px solid red;
    }
}